.header__logo {
  width: 103.74px;
  height: 24.4px;
  padding-left: 27px;
  padding-bottom: 26.6px;
}

@media screen and (min-width: 880px) {
  .header__logo {
    width: 142px;
    height: 33px;
    padding: 0 0 41px;
  }
}